body{
    font-family: 'bebas',sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: tomato;
}
.halfWidth{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
p{
    color: dimgray;
}
.headerTag{
    font-size: 45px;
    font-weight: 700;
}
.halfWidth img{
    width: 100%;
    height: 80%;
}
section{
 height: 500px;
 width: 80%;
 margin: auto;
}
.Experience{
    margin-top: 50px;
    padding-top: 80px;;
    width: 100%;
    height: 600px;
    background-color:	#F0F0F0;
}
.Experience p{
    text-align: center;
    font-size: 35px;
    padding-bottom: 11px;
    font-weight: 600;

}
#topLeft{
    margin-top: 70px;;
}
#middleRight{
    margin-top: 100px;

}
.AboutHighlight{
    font-family: "Fantasy";
    font-size: 33px;;
}
.linkButton{
    text-decoration: none;
    background-image: linear-gradient( tomato,red);
    
    padding : 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;  

}

.single{
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 80%;
    background-color: white;
}

#redborder{
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
}
#blueborder{
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, blue);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 13px;
}
.navBar{
    
    height: 1px;
    padding-bottom: 80px;
}
.navMenu{
    float: right;
    margin-top: 20px;
}
.navMenu a{
    text-decoration: none;
    color: black;
    margin-left: 11px;
    font-size: 16px;
    font-weight: 300;
}
.subBox{
   width: 80%;
   margin: auto;
   height: 460px;
   
}
.smallBox p{
  font-size: 16px;
  padding-left: 8px;
  text-align: left;
}
.smallBox h3{
    font-size: 23px;
    padding-left: 8px;
    font-size: bold;
    text-align: left;
  }
.smallBox{
    width: 31%;
    float: left;
    height: 70%;
    margin-right: 5px;
    margin-left: 15px;
    border-radius: 10px;
    background-color: white;
}
.smallBox img{
    width: 90%;
    height: 55%;
    margin: 10px;
}
#workInquiry{
   height: 430px;
   width: 90%;
   
}
.work{
    
    height: 45%;
    width: 70%;
    background-image: url("blue.png");
    background-repeat: no-repeat;
    background-position: center;
  
  background-size: cover;
  position: relative;
    border: 1px solid yellow;
    border-radius: 15px;
    margin: auto;
    margin-top: 10%;
}
.dream-area{
    height: 460px;
    padding-bottom: 40px;
}
#leftWork{
   width: 58%;
   font-size: 49px;
   float: left;
   text-align: center;
   
   margin-top: 24px;
}
#leftWork p{
    color: white;
}
#RightWork{
    width: 40%;
    float: right;
    height: 50%;
    text-align: center;
    margin-top: 81px;
 }
 #RightWork a{
    background-color: tomato;   
    padding : 20px 23px;
    border-radius: 7px;
    font-size: 12px;
    color: white;
    font-weight: bold;  
 }